

.App {
  font-family: montserrat, sans-serif;
  color: whitesmoke;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.disableScroll{
  overflow-y:hidden;
  overflow-x:hidden;
}

.Hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 600px;

}

.Hero h1 {
  color: whitesmoke;
  font-size: 50pt;
}

.Time h1 {
  margin: 0px;
  font-size: 100pt;
}

.Time p {
  font-size: 12pt;
  margin: auto;
  
}
body {
  /* background-image: url('components/images/background.jpg'); */
  background-image: url("https://picsum.photos/2500/1656?random=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}

.layer {
  background-color: rgba(34, 33, 33, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-group {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.trash {
  z-index: 2;
}

.btn {
  
  background-color: transparent;
  font-family: montserrat;
  color: whitesmoke;
  font-size: 11pt;
  padding: 10px;
  border: 2px solid whitesmoke;
  cursor: pointer;
}

.btn button:hover {
  border: 5px solid whitesmoke;
  /* font-size: 20pt; */
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */

}

.weather {
  display: flex;
  justify-content: space-between;
}
.weather-main {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.weather-main h1 {
  font-size: 15pt;
}

.weather-details {
  margin: 20px;
  width: 120px;
  text-align: left;
}

.weather-detail-element {
  font-size: 15pt;
}

.weather-detail-label {
  /* text-align: center; */
  font-size: 8pt;
}

.temperature h1 {
  font-size: 30pt;
  font-weight: bolder;
  letter-spacing: 2px;
}

.temp-icon {
  /* margin-left: 40px; */
}

.search input {
  background: none;
  border: none;
  border-bottom: 2px solid whitesmoke;
  font-size: 18px;
  font-family: montserrat;
  color: whitesmoke;
  text-align: center;
  
}

.search i {
  cursor: pointer;
}

.hero-search {
  margin: 50px;
  padding: 10px;
  
  
}

.hero-search input {
  box-sizing: border-box;
  width: 100% 
}

.todos {
  overflow: auto;
  height: 240px;
  margin: 20px;
}

.todo-element {
  border: 1px solid white;
  margin: 5px;
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-element:hover {
  text-decoration: line-through 0.25em rgba(190, 43, 43, 0);
  transition: text-decoration-color 5s;
 
}

.todo-element p {
  cursor: pointer;
}

.crossed {
  text-decoration: line-through 0.2em;
}

.back-icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.icon-btn {
  cursor: pointer;

}

.icon-btn i:hover {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
}

.pomo {
  margin-top: 25px;

}

.pomo-btn button {
  background-color: rgba(47, 46, 46, 0.7);
  color: whitesmoke;
  border: 0px solid black;
  border-radius: 3px;
}

.clicked {
  border: 2px solid rgb(248, 248, 248);
  background-color: rgb(245, 0, 0);
  font-size: 14pt;
  padding: 12px;
  box-shadow: 0 0 3px 3px rgb(211, 196, 196);
  animation: wobble; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
.quotes {
  font-size: 15pt;
}

.quotes .quote-content{
  font-style: italic;
}

.name-input input{
  background: none;
  border: none;
  border-bottom: 4px solid whitesmoke;
  width: 100%;
  font-size: 18px;
  font-family: montserrat;
  color: whitesmoke;
  font-size: 30pt;
  text-align: center;

}

.footer a {
  text-decoration: none;
  color: aliceblue;
}